<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Chat App</title>

   <link rel="shortcut icon" href="img/favicon-chat.png" />
   <!-- Import Google Fonts -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,700" rel="stylesheet">
   <!-- Import materialize.css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <!-- Import custom css -->
   <link rel="stylesheet" href="css/style.css">

   <style>
      [v-cloak] {
         display: none;
      }
   </style>
</head>

<body>
   <div id="chat-app">
      <div class="row">

         <!-- users column -->
         <div class="col s3">

               <input id='input' v-model="cityname" placeholder="name" type="text" class="u-full-width">
               <button v-on:click="getCitybycityname" class="btn-small waves-effect waves-light" type="submit">
                  Join
               </button>
         </div>
         <div v-show="showCities" class="me" class="col s9">
            <h5> Pick a city from the suggestion:  </h5>
                <ul>
                    <li v-for="city in cities"> 
                        <a v-on:click="findRestaurants(city)"> {{city}} </button>
                    </li>
                </ul>
            </div>

            <div class="chat-box" >
                <ul>
                    <li v-for="rest in restaurants"> 
                        <span> {{rest.name}} </span>
                    </li>
                </ul>
            </div>
    </div>
    </div>

   <script type="text/javascript" src="https://unpkg.com/vue@2.5.15/dist/vue.min.js"></script>
   <script type="text/javascript" src="https://unpkg.com/socket.io-client@2.1.0/dist/socket.io.js"></script>
   <script type="text/javascript" src="app.js"></script>
</body>

</html>