<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Zomato</title>

   <link rel="shortcut icon" href="img/favicon-chat.png" />
   <!-- Import Google Fonts -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,700" rel="stylesheet">
   <!-- Import materialize.css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <!-- Import custom css -->
   <link rel="stylesheet" href="css/style.css">

   <style>
      [v-cloak] {
         display: none;
      }
   </style>
</head>

<body>
   <div id="zomato-app">
      <div class="row">

         <!-- users column -->
         <div class="col s3">
                <p>Search restaurants by city name:</p>
               <input id='input' v-model="cityname" placeholder="City Name" type="text" class="u-full-width">
               <button v-on:click="getCitybycityname" class="btn-small waves-effect waves-light" type="submit">
                  Search
               </button>
         </div>

         <div v-show="showCities" class="me" class="col s9">

            <h3> Pick a city from the suggestion:  </h3>
               
                 <select v-model="cityname">
                    <option v-for="city in cities">
                        {{city}}
                    </option>
                </select>
                        <button v-on:click="findRestaurants(cityname)"class="btn-small waves-effect waves-light" type="submit"> 
                            submit 
                        </button>
            </div>
            <div v-show="showRestaurants" class="zomato-box" >

                <ul>
                    <h4>Pick a Restaurant:</h4>
                    <li v-for="rest in restaurants"> 
                        <a> {{rest.name}} </a>
                    </li>
                </ul>
            </div>
    </div>
    </div>

   <script type="text/javascript" src="https://unpkg.com/vue@2.5.15/dist/vue.min.js"></script>
   <script type="text/javascript" src="https://unpkg.com/socket.io-client@2.1.0/dist/socket.io.js"></script>
   <script type="text/javascript" src="app.js"></script>
</body>

</html>